{% extends "base.twig"%}

{% block css %}
{% endblock %}


{% block contenu %}

    <form action="" method="POST" class="block">
        <fieldset>
            <legend>Groupe</legend>
            <fieldset>
                <table>
                    <tr>
                        <td>Nom du Groupe</td>
                        <td>
                            <input type="text" name="nomGroupe" value="{{gp.nom}}">
                            <input type="hidden" name="oldNomGroupe" value="{{gp.nom}}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="groupePere">
                                <option value="">aucun</option>
                                {% for groupe in allGroupes %}
                                    <option value="{{groupe.nom}}"
                                            {% if groupe.nom == gp.pere %}
                                                selected
                                            {% endif %}
                                    >
                                        {{groupe.nom}}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="ok" value="Valider"></td>
                        <td><input type="reset" name="renit" value="Effacer"></td>
                        <td>{{ErreurInscription}}</td>
                    </tr>
                </table>
            </fieldset>
        </fieldset>
    </form>
{% endblock %}