{% extends "base.twig" %}


{% block contenu %}
<form action="" method="post">
    <fieldset style="margin-left:25%;margin-right:25%">
        <input type="hidden" name="id" value="{{ seance.id }}">
        <span class="message">{{ message }}</span>
        <table align="center">
            <tr>
                <td>
                    Module:
                </td>
                <td>
                    <select name="Module">
                        {% for module in modules %}

                            <option value="{{ module.code }}" {% if seance.module==module.code %}selected{% endif %}>{{ module.libelle }}</option>

                        {% endfor %}


                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Date:
                </td>
                <td>
                    <input type="date" name="Date" value="{{date}}" max="{{dateMax}}" min="{{dateMin}}">
                </td>
            </tr>
            <tr>
                <td>
                    Type:
                </td>
                <td>
                    <select name="Type">
                        {% for type in types %}

                        <option value="{{ type.id }}" {% if seance.type==type.id %}selected{% endif %}>{{ type.libelle }}</option>

                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Groupe:
                </td>
                <td>
                    <select name="Groupe">
                        {% for groupe in groupes %}

                            <option value="{{ groupe.nom }}" {% if groupeActuel==groupe.nom %}selected{% endif %}>{{ groupe.nom }}</option>

                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="valider" value="Valider">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
{% endblock %}
