{% extends "base.twig" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/style/debug-table.css">
{% endblock %}

{% block js %}
    <script>
        function verifSuppression(code) {
            if (confirm("Voulez-vous vraiment supprimer le module "+code+"?")) {
                $.post("/api/deleteModule.php", {id: code})
                .done(function() {
                    alert("Suppression effectuée avec succès");
                    document.location.reload();
                })
                .fail(function(xhr, status, error){
                    alert("Une erreur est survenue lors de la suppression de la séance: " + xhr.responseJSON.error);
                });
            }
            else {
                alert("Suppression annulée");
            }
        }
    </script>
{% endblock %}

{% block contenu %}
    <p><a class="button" href="?id=new">Créer un module</a></p>

    <table>
        <thead>
            <tr>
                <th>code</th>
                <th>libelle</th>
                <th colspan="2">couleur</th>
                <th>droits</th>
                <th>date_creation</th>
                <th>date_modification</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td>{{ module.code }}</td>
                <td>{{ module.libelle }}</td>
                <td>{{ module.couleur }}</td>
                <td style="background-color: {{ module.couleur }}">&ensp;</td>
                <td>{{ module.droits }}</td>
                <td>{{ module.getDateCreation() }}</td>
                <td>{{ module.getDateModification() }}</td>
                <td><a href="?id={{ module.code }}"><img src="/images/edit.png" alt="Modifier le module"></a></td>
                <td><a href="#" onclick="verifSuppression('{{ module.code }}')"><img src="/images/delete.jpeg" alt="Supprimer le module"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}