{% extends "base.twig"%}

{% block css %}
<link rel="stylesheet" type="text/css" href="/style/debug-table.css">
{% endblock %}

{% block js %}
    <script>
        function verifSuppression(id) {
            if (confirm('Voulez-vous vraiment supprimer l\'utilisateur "' + id + '"?')) {
                $.post("/api/deleteUtilisateur.php", {id: id},)
                    .done(function(){
                        alert("Suppression effectuée avec succès");
                        document.location.reload()
                    })
                    .fail(function(xhr, status, error){alert("Une erreur est survenue lors de la suppression de l'utilisateur: " + xhr.responseJSON.error)});
            } else {
                alert("Supression annulée");
            }
        }
    </script>
{% endblock %}

{% block contenu %}
    <p>
        <a class="button" href="?id=new">Créer un utilisateur</a>
    </p>

<table>
    <tr>
        <th>id_utilisateur</th>
        <th>nom</th>
        <th>prenom</th>
        <th>roles</th>
        <th>groupes</th>
        <th>date_creation</th>
        <th>date_modification</th>
        <th>mdp_new</th>
        <th colspan="2">Actions</th>
    </tr>


    {% for user in tabUser %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.roles }}</td>
        <td>{{ user.groupes }}</td>
        <td>{{ user.getDateCreation() }}</td>
        <td>{{ user.getDateModification() }}</td>
        <td>{{ user.isMdpNew() ? "true" : "false" }}</td>
        <td><a href="?id={{user.id}}"><img src="/images/edit.png" alt="Modifier l'utilisateur"/></a></td>
        <!-- deleteUtilisateur.php?id={{user.id}} -->
        <td><a href="javascript:verifSuppression('{{user.id}}')"><img src="/images/delete.jpeg" alt="Supprimer l'utilisateur"/></a></td>
        <!-- Ajouter bouton pour modifier la row (update)-->

    </tr>
    {% endfor %}
</table>
{% endblock %}