{% extends "base.twig"%}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/style/debug-table.css">
{% endblock %}

{% block js %}
    <script>
        function verifSuppression(id) {
            if (confirm('Voulez-vous vraiment supprimer l\'évènement d\'identifiant "' + id + '"?')) {
                $.post("/api/deleteEvenement.php", {id: id},)
                    .done(function(){
                        alert("Suppression effectuée avec succès");
                        document.location.reload()
                    })
                    .fail(function(xhr, status, error){alert("Une erreur est survenue lors de la suppression du groupe: " + xhr.responseJSON.error)});
            } else {
                alert("Supression annulée");
            }
        }
    </script>
{% endblock %}

{% block contenu %}
    <p><a class="button" href="?id=new">Ajouter un evenement</a></p>
    <p>Durée totale des évenements : {{duree}}</p>
    <table>
        <tr>
            <th>id</th>
            <th>type</th>
            <th>libelle</th>
            <th>duree</th>
            <th>echeance</th>
            <th>seance</th>
            <th>Pièces jointes</th>
            <th colspan="2">Actions</th>
        </tr>


        {% for event in tabEvent %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.libelle }}</td>
                <td>{{ event.getDureeFormat() }}</td>
                <td>{{ event.echeance }}</td>
                <td>{{ event.seance }}</td>
                <td>{% for pj in event.pj %}
                <a href="{{ pj.chemin }}" class="tooltip">{{ pj.getNomFichier() }}</a><br>
                {% endfor %}
                </td>
                <td><a href="?id={{event.id}}"><img src="/images/edit.png" alt="Modifier l'evenement"/></a></td>
                <!-- deleteEvenement.php?id={{event.getIdEvenement()}} -->
                <td><a href="javascript:verifSuppression('{{event.id}}')"><img src="/images/delete.jpeg" alt="Supprimer l'evenement"/></a></td>
                <!-- Ajouter bouton pour modifier la row (update)-->

            </tr>
        {% endfor %}
    </table>


{% endblock %}