{% extends "base.twig"%}

{% block css %}
<link rel="stylesheet" type="text/css" href="/style/debug-table.css">
{% endblock %}

{% block js %}
    <script>
        function verifSuppression(id, idModule) {
            if (confirm('Voulez-vous vraiment supprimer l\'affectation entre "' + id + '" et "' + idModule + '"?')) {
                alert("ok deleting " + id);
                document.location.href = "PHP/deleteAffectation.php?id=" + id + "&idModule=" + idModule;
            } else {
                alert("suppression annulée");
            }
        }

        function verifSuppression(utilisateur, module) {
            if (confirm('Voulez-vous vraiment supprimer l\'affectation entre "' + utilisateur + '" et "' + module + '"?')) {
                $.post("/api/deleteAffectation.php", {user: utilisateur, module: module},)
                    .done(function(){
                        alert("Suppression effectuée avec succès");
                        document.location.reload()
                    })
                    .fail(function(xhr, status, error){alert("Une erreur est survenue lors de la suppression de l'utilisateur: " + xhr.responseJSON.error)});
            } else {
                alert("Supression annulée");
            }
        }
    </script>
{% endblock %}

{% block contenu %}
    <p>
        <a class="button" href="?id=new">Créer une affectation</a>
    </p>
<table align="center">
    <tr>
        <th>id_utilisateur</th>
        <th>module</th>
        <th>Supprimer</th>
    </tr>


    {% for affectation in tabAffectations %}
    <tr>
        <td>{{ affectation.utilisateur }}</td>
        <td>{{ affectation.module }} ({{ tabLibModules[affectation.module] }})</td>
        <td><a href="javascript:verifSuppression('{{affectation.utilisateur}}', '{{affectation.module}}')"><img src="/images/delete.jpeg" alt="Supprimer l'affectation"/></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
