{% extends "base.twig" %}

{% block css %}
    <link href="style/etat.css" rel="stylesheet" type="text/css">
    <link href="style/table.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $("a.expander").click(function(){
                $(this).closest(".info").toggleClass("expanded");
            });
        });
    </script>
{% endblock %}

{% block contenu %}

    <form action="" method="post">
        <div class="block month">
            <input type="hidden" name="month" value={{chiffreMois}} />
            <input type="hidden" name="year" value={{chiffreAnnee}} />
            <input type="submit" name="month-" value="Précédent" data-tag="prev"/>
            <h2>{{moisActuel}}</h2>
            <input type="submit" name="month+" value="Suivant" data-tag="next"/>
        </div>
    </form>

    <div class="info">
        <div class="block filtres">
            <div>
                <h2 style="margin-right:20px">Filtres <a href="#" class="expander">->afficher<-</a></h2>
            </div>
            <div class="hidden">
                <form action="etat.php" method="post">
                    <fieldset>
                        <legend>Critères de séance</legend>
                        <table>
                            <tr>
                                <td align="right">Module(s)</td>
                                <td>
                                    <select name="Modules[]" multiple size="2">

                                        {% for module in modules %}
                                            <option value="{{ module.code }}" {% if module.getId() in tabModules %}selected{% endif %}>{{ module.libelle }}</option>
                                        {% endfor %}

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td align="right"> Date de création entre le </td>
                                <td>
                                    <input type="date" name="DateCreaMin" max="{{dateCreaMaxMois}}" min="{{dateCreaMinMois}}" value="{{dateCreaMin}}">
                                    et le
                                    <input type="date" name="DateCreaMax" max="{{dateCreaMaxMois}}" min="{{dateCreaMinMois}}" value="{{dateCreaMax}}">
                                </td>
                            </tr>
                            <tr>
                                <td align="right">Type(s)</td>
                                <td>
                                    <select name="Types[]" multiple size="2">

                                        {% for type in types %}
                                            <option value="{{ type.id }}" {% if type.getId() in tabTypes %}selected{% endif %}>{{ type.libelle }}</option>
                                        {% endfor %}

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <div>Groupe(s)</div>
                                    <div style="font-size:80%;color:#AAAAAA;">(les sous-groupes seront</div>
                                    <div style="font-size:80%;color:#AAAAAA;">automatiquement ajoutés lors du filtrage)</div>
                                </td>
                                <td>
                                    <select name="Groupes[]" multiple size="2">

                                        {% for groupe in groupes %}
                                            <option value="{{ groupe.nom }}" {% if groupe.getNom() in tabGroupes %}selected{% endif %}>{{ groupe.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">Créateur(s)</td>
                                <td>
                                    <select name="Createurs[]" multiple size="2">

                                        {% for user in users %}
                                            <option value="{{ user.id }}" {% if user.getId() in tabCreateurs %}selected{% endif %}>{{ user.prenom }} {{ user.nom }}</option>
                                        {% endfor %}

                                    </select>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset class="droite">
                        <legend>Critères d'évènement</legend>
                        <table>
                            <tr>
                                <td align="right">Type(s)</td>
                                <td>
                                    <select name="TypesEv[]" multiple size="2">

                                        {% for type in typesEvenement %}
                                            <option value="{{ type.id }}" {% if type.getId() in tabTypesEv %}selected{% endif %}>{{ type.libelle }}</option>
                                        {% endfor %}

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td align="right"> Echéance entre le </td>
                                <td>
                                    <input type="date" name="EcheanceMin" max="{{finAnnee}}" min="{{debutAnnee}}" value="{{dateEvMin}}"> et le
                                    <input type="date" name="EcheanceMax" max="{{finAnnee}}" min="{{debutAnnee}}" value="{{dateEvMax}}">
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <input class="button" type="submit" name="ok" value="Filtrer">
                    <input class="button" type="reset" value="Annuler">
                </form>
                <form action="etat.php" method="post">
                    <input class="button" type="submit" value="Retirer tous les filtres">
                </form>
            </div>
        </div>
    </div>

    <form action="" method="post">
        <div align="right">
            <input class="button" name="save" type="submit" value="enregistrer le marquage">
        </div>
        {% for numSemaine,seances in tabSeances %}
            <div class="block week">
                <div class="number">
                    {{"%02d"|format(numSemaine)}}
                </div>
                <div class="seances">
                    {% for s in seances %}
                        <div class="info" style="--module-color:{{ s.obj_module.couleur }}">
                            <div class="summary">
                                <div>
                                    <span class="icon">&#x26AB;</span>
                                    {{ s.obj_module.libelle }}
                                </div>
                                <span>{{ s.getDateFormatee("d/m/Y") }}</span>
                                <span class="small">{{s.nom_type}}</span>
                                <span class="small">{{ s.groupe }}</span>
                                <span>{{s.obj_user.prenom ~ " " ~ s.obj_user.nom}}</span>
                                <span class="small">
                                <label class="container">
                                    <input type="checkbox" name="sem[]" value="{{s.id}}" {% if s.semaphore.marque %}checked="checked"{% endif %}>
                                    <span class="checkmark"></span>
                                </label>
							</span>
                                <a href="#" class="expander">Détails</a>
                            </div>
                            <div class="table hidden">
                                <div class="row header">
                                    <div class="td">Type</div>
                                    <div class="td">Contenu</div>
                                    <div class="td">PJ</div>
                                    <div class="td">Durée</div>
                                    <div class="td">Échéance</div>
                                </div>
                                {% for e in s.evenements %}
                                    {% if (e.getType() in tabTypesEv or tabTypesEv is empty) %}
                                        <div class="row">
                                            <div class="td">{{ e.nom_type }}</div>
                                            <div class="td">{{ e.libelle }}</div>
                                            <div class="td">{% for pj in e.pj %}
                                                    <a href="{{ pj.Chemin }}" class="tooltip">
                                                    <span class="tooltiptext">{{ pj.getNomFichier() }}</span>
                                                        <img src="/images/file.png" width="24px"></a>
                                                {% endfor %}</div>
                                            <div class="td">{{ e.getDureeFormat() }}</div>
                                            <div class="td">{{ e.getEcheance() }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </form>
{% endblock %}
