{% extends "base.twig" %}

{% block css %}
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }

        thead {
            background-color: silver;
        }

        tbody tr:nth-of-type(even) {
            background-color: #dddddd;
        }

        td, th {
            border: 1px solid black;
            padding: 2px 5px;
        }

        input:not(:first-of-type) {
             margin-top: 8px;
        }

        label {
            display: inline-block;
            width: 200px;
        }
    </style>
{% endblock %}

{% block contenu %}
    <div class="block">
        <h2>{{ user.prenom~" "~user.nom }}</h2>

        <div>
            <h3>Modules</h3>
            <table>
                <thead>
                <tr>
                    <th colspan="2">Code</th>
                    <th>Libelle</th>
                </tr>
                </thead>
                <tbody>
                {% for module in modules %}
                    <tr>
                        <td style="background-color:{{ module.couleur }}">&ensp;</td>
                        <td>{{ module.code }}</td>
                        <td>{{ module.libelle }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div style="height: 16px"></div>
    <div class="block">
        <form action="" method="POST">
            <input type="hidden" name="form" value="nom">
            <fieldset>
                <legend>Modification du nom</legend>

                <label for="f_nom">Nom : </label>
                <input type="text" id="f_nom" name="nom" value="{{ user.nom }}">
                <br>

                <label for="f_prenom">Prenom : </label>
                <input type="text" id="f_prenom" name="prenom" value="{{ user.prenom }}">
                <br>

                <span class="erreur">{{ erreurNom }}</span>
                <br>

                <input type="submit" value="Enregistrer" class="button">
            </fieldset>
        </form>
        <div style="height: 16px"></div>
        <form action="" method="POST">
            <input type="hidden" name="form" value="mdp">
            <fieldset>
                <legend>Modification du mot de passe</legend>

                <label for="f_omdp">Mot de passe actuel : </label>
                <input type="password" id="f_omdp" name="omdp">
                <br>

                <label for="f_nmdp">Nouveau mot de passe : </label>
                <input type="password" id="f_nmdp" name="nmdp">
                <br>

                <label for="f_nmdp2">Répétez le mot de passe : </label>
                <input type="password" id="f_nmdp2" name="nmdp2">
                <br>

                <span class="erreur">{{ erreurMdp }}</span>
                <br>

                <input type="submit" value="Modifier le mot de passe" class="button">
            </fieldset>
        </form>
    </div>
{% endblock %}