<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Styles -->
    <link href="/style/base.css" type="text/css" rel="stylesheet"/>
    {% block css %}
    {% endblock %}

    <!-- Scripts -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
        function toggleMenu(force = null) {
            let body = $("body");
            if (force != null)
            {
                if (force)
                    body.addClass("menu");
                else
                    body.removeClass("menu");
            }
            else {
                body.toggleClass("menu");
            }
        }
    </script>
    {% block js %}
    {% endblock %}

    <!-- Meta -->
    <title>{{titre}}</title>
    <meta charset="utf-8"/>
</head>

<body>

<div class="shade" onclick="toggleMenu(false)"></div>
<div class="top-gradient"></div>

<header>
    <div class="left"><a href="javascript:toggleMenu()"><img src="/images/menu.svg" alt="Menu"></a></div>
    <div class="center"><h1>{{titre}}</h1></div>
    <div class="right">
        <a href="/index.php"><img src="/images/di2009.gif" alt="Logo Université"/></a>
    </div>
</header>

<nav>
    <div class="anchor-top">
        <span style="font-weight: bold;">{{ user.getPrenom() ~ " " ~ user.getNom() }}</span>
        <span>{{ user.getRoleComplet() }}</span>
    </div>
    <div class="sections">
        {% for f in sections %}
        <a href="{{ f.url }}">{{ f.nom }}</a>
        {% endfor %}
    </div>
    <div class="options">
        {% for f in options %}
            <a href="{{ f.url }}">{{ f.nom }}</a>
        {% endfor %}
    </div>
    <div class="anchor-bottom">
        <a href="/logout.php" class="logoff">Se déconnecter</a>
    </div>
</nav>



<div id="content">
    {% block contenu %}
    {% endblock %}
    <pre>{{ vardump }}</pre>
</div>

<footer>
    {% block footer %}
    {% endblock %}
</footer>

</body>

</html>